<!DOCTYPE html>
<html ng-app="countriesApp">
<head>
	<title></title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script type="text/javascript" src="countries.js"></script>

</head>
<body ng-controller="countriesController">

	<input type="text" ng-model="queryString">

	<table class="table">
		
		<thead>
			<tr>
				<th ng-click="orderField='img'; reverse = !reverse">Flag</th>
				<th ng-click="orderField='name'; reverse = !reverse">Country Name</th>
				<th ng-click="orderField='goldMedals'; reverse = !reverse"><img src="https://ssl.gstatic.com/onebox/sports/olympics/2016/medals2/ic_medal-small-gold_2x.png"></th>
				<th ng-click="orderField='silverMedals'; reverse = !reverse"><img src="https://ssl.gstatic.com/onebox/sports/olympics/2016/medals2/ic_medal-small-silver_2x.png"></th>
				<th ng-click="orderField='bronzeMedals'; reverse = !reverse"><img src="https://ssl.gstatic.com/onebox/sports/olympics/2016/medals2/ic_medal-small-bronze_2x.png"></th>
				<th><img src="https://ssl.gstatic.com/onebox/sports/olympics/2016/medals2/ic_medal-small-total_2x.png"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="country in countries | filter:queryString | orderBy:orderField:reverse">
				<td><img ng-src="{{country.image}}"></td>
				<td>{{country.name}}</td>
				<td>{{country.goldMedals}}</td>
				<td>{{country.silverMedals}}</td>
				<td>{{country.bronzeMedals}}</td>
				<td>{{country.goldMedals + country.silverMedals + country.bronzeMedals}}</td>
			</tr>
		</tbody>
	</table>

</body>
</html>